.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
/build
/.gradle
/.idea
/local.properties
.DS_Store
.metadata
bin/
*.class
*.pyc
*.swp
*~
.settings/
.project
.classpath
.factorypath
.externalToolBuilders/
.checkstyle
.factorypath
out/
capture/
.kotlin/
.nav/
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/modules/
*.iml
*.ipr
*.iws
.gradle/
build/
captures/
.externalNativeBuild
.cxx
local.properties
